<section class="container center-align">

    <h1><%=favorite.name%></h1>

    <%if (numFavorited > 1) {%>
    <p><%=numFavorited%> users love this place!</p>
    <%}%>

    <p><%=favorite.price%></p>
    <p><%=favorite.rating%>/5</p>
    <p><%=favorite.phone%></p>


    <div class="display-photos">
        <%favorite.photos.forEach(function(img) { %>

            <img src = "<%=img%>">

        <% })%>
    </div>


    <%if (favorite.hours[0]["is_open_now"]){%>
        <p>currently open!!</p>
    <%}%>

    <div >
        <%favorite.location.display_address.forEach(function(line){%>
            <p class="display_address"> <%=line%> </p>

        <%})%>
    </div>
</section>
