<div class="container center-align">
    <h1>Your Addresses</h1>
    <ul>
    <%addresses.forEach(function(address){%>
      <li>
            <p>
                  <%=address.name%>:
                  <%=address.address%>
                  <a href="/addresses/<%=address.id %>/edit"><i class="tiny material-icons">create</i></a>
                  <a href="/addresses/<%=address.id %>?_method=DELETE"><i class="tiny material-icons">clear</i></a></p>
                  <p><a class="waves-effect waves-light btn" href="/addresses/<%=address.id %>"><i class="material-icons right">map</i>find happy around this address</a></p>
            </p>
      </li>
    <%})%>
    </ul>
    <a class="waves-effect waves-light btn-large" href="/addresses/new">ADD ANOTHER</a>
</div>
